{
    "presets": [
      [
        "es2015",
        {
          "modules": false
        }
      ],
      "latest",
      "react",
      "stage-0"
    ],
    "plugins": [
      "transform-es3-property-literals",
      "transform-decorators-legacy",
      "array-includes",
      "transform-async-to-generator"
    ]
  }
