.Modal {
  position: fixed;
  left:33vw;
  top: 10vh;
  width:50vw;
  z-index:3;
  background:#EEEEEE;
  padding: 1em 2em;
  border-top: 4px solid #373a47;
  border-radius: 5px;
}

.ModalTopic {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 25px;
}

.ModalBody {
  width:100%;
  padding: 1em 1em 0em 1em;
  font-size: 20px;
}

.HalfSide {
  width:50%;
  display: inline-block;
}

button.SearchButton {
  font-weight: bold;
  font-size: 20px;
  height:2.5em;
  width: 5em;
  background-color: #EEEEEE;
  color:#373a47;
  outline:none;
  border-radius: 10px;
  border:2px solid #373a47;

}

button.SearchButton:active{
  border:2px solid #373a47;
  color:#EEEEEE;
  background-color: #373a47;
}

.ButtonArea {
  margin: 1.5em;
  text-align: right;
}
