.LargeModal {
  position: fixed;
  left:35vw;
  top: 8vh;
  width:50vw;
  z-index:3;
  background:#EEEEEE;
  padding: 1em 2em;
  border-top: 5px solid #373a47;
  border-radius: 5px;
}

.Modal {
  position: fixed;
  left:48vw;
  top: 8vh;
  width:26vw;
  z-index:3;
  background:#EEEEEE;
  padding: 1em 2em;
  border-top: 5px solid #373a47;
  border-radius: 5px;
  max-height: 80vh;
}

.ModalTopic {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0.5em;
}

.ModalWarning {
  text-align: center;
  font-size: 17px;
  color:red;
  margin-bottom: 0.3em;
}

.ModalBody {
  font-size: 20px;
}

.HalfSide {
  display: inline-block;
  padding:0em 0.25em;
}

button.SearchButton {
  font-weight: bold;
  font-size: 20px;
  height:2.4em;
  width: 5em;
  margin-right: 0.5em;
  background-color: #EEEEEE;
  color:#373a47;
  outline:none;
  border-radius: 10px;
  border:2px solid #373a47;

}

button.SearchButton:active{
  color:#EEEEEE;
  background-color: #373a47;
}

button.LoginButton {
  color:#373a47;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5em 1em;
  border-radius: 10px;
  border:2px solid #373a47;
  outline:none;
  background-color: #EEEEEE;
}

button.LoginButton:active{
  color:#EEEEEE;
  background-color: #373a47;
}

.LoginArea {
  margin:0.5em 0em;
  text-align: center;
}

.ButtonArea {
  margin: 1em 0em;
  text-align: right;
}

.ResultArea {
  margin:1em 0em;
  font-size: 20px;
}

span.ModalHeading {
  margin-right: 0.5em;
}

span.PageNumber {
  margin:0em 0.25em;
  cursor: pointer;
  font-size: 20px;
}

span.InPage{
  margin:0em 0.25em;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

span.PageNumber:focus {
  font-weight: bold;
  font-size: 25px;
}

table.Result {
  width:100%;
  border-collapse: collapse;
  border:1px solid #333333;
}

table.Result th {
  color:#EEEEEE;
  background-color:#373a47;
  padding:0.5em;
  border:1px solid #333333;

}

table.Result td {
  text-align: center;
  border: 1px solid #333333;
}

table.Result tr:nth-child(even){
  background-color: white;
}

.UndoIcon {
  float: left;
  margin-top: 0.2em;
  color:#272a37;
}

.PreviousPage {
  margin-right: 0.25em;
  position: relative;
  top:5px;
  color:#272a37;
  cursor: pointer;
}

.NextPage {
  margin-left: 0.25em;
  position: relative;
  top:5px;
  color:#272a37;
  cursor: pointer;
}

.ToMapIcon {
  color:#272a37;
  cursor: pointer;
}

input.LoginBox {
  font-size: 18px;
  padding: 0em 0.5em;
  margin: 0.5em 0em;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  outline:none;
}
