.SideBarList {
  padding: 1em;
  color:#E0E0E0;
  text-align: left;
  cursor: pointer;
  transition: background 0.4s;
}

.SideBarList:hover {
  background: #272a37;
}

span.listName {
  margin:0em 1em;
  font-size: 20px;
}

.SideBarListOnFocus {
  padding: 1em;
  color:#272a37;
  text-align: left;
  cursor: pointer;
  transition: background 0.4s;
}
