.SettingArea {
  margin-left: 22vw;
  width:78vw;
  min-height: 100vh;
}

.SettingTopic {
  font-size: 32px;
  font-weight: bold;
  padding: 0.5em 1em;
}

.SettingBody {
  margin: 0em 2em 2em 2em;
  border-top: 5px solid #373a47;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding:1em;
}

.SettingHeaderArea{
  width:30%;
  text-align: left;
  display: inline-block;
  margin-bottom: 1em;
}

.SettingHeader {
  font-size: 24px;
  font-weight: bold;
}

.OptionButtonArea {
  width:70%;
  text-align: right;
  display: inline-block;
}

button.ResetButton{
  margin-right:1em;
}

button.AcceptButton{
  font-size: 18px;
}

button.EditButton ,button.ResetButton{
  font-size: 16px;
}

button.EditButton ,button.ResetButton , button.AcceptButton{
  outline: none;
  padding:0.5em 1em;
  background-color: #373A47;
  color:white;
  border-radius: 10px;
  border: 2px solid #373A47;
  font-weight: bold;
  cursor: pointer;
}

button.EditButton:active ,button.ResetButton:active ,button.AcceptButton:active{
  color:#373A47;
  background-color: white;
}

button.SettingCancelButton {
  outline: none;
  padding:0.5em 1em;
  background-color: white;
  color:#373A47;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #373A47;
  font-weight: bold;
  cursor: pointer;
}

button.SettingCancelButton:active {
  background-color: #373A47;
  color:white;
}

button.OnEdit {
  outline: none;
  padding:0.5em 1em;
  background-color: #373A47;
  color:white;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #373A47;
  font-weight: bold;
  cursor: not-allowed;
}

.EditIcon, .SaveIcon ,.ResetIcon{
  margin-right: 0.5em;
}

.EachFormArea {
  margin-top: 1em;
  width:45%;
  display: inline-block;
}

.spaceDiv {
  width:5%;
  display: inline-block;
}

.EachFormTopic {
  width:25%;
  font-size:20px;
  display: inline-block;
}

.EachFormData {
  width:75%;
  display: inline-block;
}

.DataFont {
  font-size: 20px;
}

input.DataInput {
  font-size:18px;
  outline: none;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  padding:0em 0.5em;
}
