.UserOptionModal {
  position: fixed;
  z-index:3;
  margin: 10vh 30vw;
  width:40vw;
  background:#EEEEEE;
  padding: 1em 2em;
  border-top: 4px solid #373a47;
  border-radius: 5px;
}

.Topic {
  padding-bottom: 0.5em;
  text-align: center;
  font-size:25px;
  font-weight: bold;
}

.Body {
  padding: 0.25em 1em;
  font-size: 20px;
}


input.RegisterBox {
  width:75%;
  font-size: 18px;
  margin:0em 1em;
  padding: 0em 0.5em;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  /* box-shadow: 1px 1px 1px rgba(55, 58, 71, 0.7); */
  outline:none;
}

input[type='checkbox'].PermissionChoice {
  position: relative;
  top:2px;
  height: 1.2em;
  width: 1.2em;
}

.PermissionList {
  margin-left: 6vw;
}

button.CancelButton {
  float: left;
  font-weight: bold;
  font-size: 20px;
  height:2.5em;
  width: 5em;
  background-color: #EEEEEE;
  color:#373a47;
  outline:none;
  border-radius: 10px;
  border:2px solid #373a47;
}

button.SubmitButton {
  float: right;
  font-weight: bold;
  font-size: 20px;
  height:2.5em;
  width: 5em;
  background-color: #373a47;
  color:#EEEEEE;
  outline:none;
  border-radius: 10px;
  border:2px solid #EEEEEE;
}

.AreaOfButton {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 2px solid #373a47;
}
