.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.burger {
  margin: 9px 20px;
  position:relative;
  z-index:3;
  color:#616161;
  cursor: pointer;
}

.sideBar {
  width: 22vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-color: #373a47;
  min-width: 200px;
}

.BgSideBar {
  width:100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.SidebarCancelArea {
  width:100%;
  text-align:right;
  color:#EEEEEE;
}

.CancelSidebarButton {
  margin: 15px;
}

.UserIcon {
  float: right;
  margin: 9px 50px 20px 20px;
  position:relative;
  z-index:3;
  color:#616161;
  cursor: pointer;
}
